*.sh
*.log
*.out
*.txt
*.csv
*.jpg
*.png
*.PNG
*.pdf
*.zip
*.docx
*.pptx
*.DS_Store
*.pyc
*.ipynb
*.ipynb_checkpoints/
__pycache__/

*.pth
*.old
*.new
*.bk

/dataparts
/datadefects
/meetings
/papers
/topology_aware_delineation
/finetunedefects
/vpdet_tmm17
/python
/segdefect
/segpart
/segwhole
/clsdefect
/datasets
